* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Up_Page {
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    position: fixed;
    right: 3%;
    top: 85%;
    background-color: transparent;
    color: #4e4e4e;
    border: 2px solid #4e4e4e;
    z-index: 5;
    cursor: pointer;
    transition: 0.4s;
}

#Up_Page:hover {
    color: #4e4e4e;
    background-color: white;
}

.Nav_Bar {
    width: 100%;
    height: auto;
    padding: 20px 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: Show linear 1s forwards;
    opacity: 0;
    position: fixed;
    z-index: 99999999999999999;
}

@keyframes Show {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Logo {
    width: 185px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(9, 113, 79); */
}

.Logo>img {
    width: 100%;
    object-fit: cover;
}

#Menu_Btn {
    font-size: 25px;
    padding: 10px 15px;
    border: none;
    /* background-color: red; */
    border: 3px solid #4e4e4e;
    color: #4e4e4e;
    background-color: transparent;
    position: absolute;
    right: 5%;
    top: 25%;
    display: none;
}

.Menu_Box>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu_Box>ul>li {
    overflow: hidden;
    margin: 5px;
}

.Menu_Box>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #dbd8d3;
    transition: 0.4s;
}

.Menu_Box>ul>li>a:hover {
    color: #a5a5a5;
}

.Slider_Container {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.Slider_Box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}

.Slider_Box>button {
    width: 100px;
    height: 100px;
    padding: 15px;
    font-size: 40px;
    background-color: #a5a5a5;
    color: red;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide>span {
    font-size: 160px;
    margin: 10px;
    animation: Show linear 0.5s forwards;
    opacity: 0;
}

@keyframes Show {
    from {
        opacity: 0;
        transform: translateY(-300px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.swiper-slide>span:first-child {
    animation-delay: .100s;
}

.swiper-slide>span:nth-child(2) {
    animation-delay: .250s;
}

.swiper-slide>span:nth-child(3) {
    animation-delay: .350s;
}

.swiper-slide>span:nth-child(4) {
    animation-delay: .450s;
}

.swiper-slide>span:nth-child(5) {
    animation-delay: .550s;
}

.swiper-slide>span:nth-child(6) {
    animation-delay: .650s;
}

.swiper-slide>span:nth-child(7) {
    animation-delay: .750s;
}

.swiper-slide>span:last-child {
    animation-delay: .850s;
}

.Brand_Container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Brands_Box {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Brand {
    width: 260px;
    height: 250px;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
}

.Brand>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.Brand_Info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.4s;
    position: absolute;
    background-color: #242424af;
    inset: 0;
    opacity: 0;
}

.Brand:hover .Brand_Info {
    opacity: 1;
    z-index: 3;
}
.Brand_Info>h3 {
    color: white;
}

.Brand_Info>span {
    color: white;
}

.Brand:hover img {
    transform: scale(1.1);
}


.Brand_Description {
    width: 100%;
    height: auto;
    padding: 40px;
    background-color: #1b1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Brand_Description>div {
    margin: 15px;
}

.Brand_Description>div>p {
    font-size: 27px;
    text-align: center;
    color: white;
}

.Brand_Description>div>a {
    color: white;
    background-color: #000000;
    padding: 12px 25px;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 5px;
}

.Brand_Description>div>a:hover {
    background-color: #b8b8b8;
    color: rgb(16, 16, 16);
}

.Marceting-Box {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    padding: 120px 0;
    background-image: url(./Assets/Parallax_Img/1.jpg);
    background-size: 120%;
    background-position: top;
    background-attachment: fixed;
}

.Marcetolog {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.Marcetolog>div>img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.Marcetolog>div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* background-color: green; */
}

.Marcetolog>div>h3 {
    color: white;
    font-size: 25px;
    font-weight: 100;
}

.Advertisement_Box {
    padding: 20px 370px;
}

.Advertisement_Box>p {
    color: white;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
}

.Social_Links_Box {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Social_Links_Box>div {
    margin: 10px;
}

.Social_Links_Box>div>a {
    padding: 6px 10px;
    font-size: 30px;
    background-color: #303030;
    border-radius: 50%;
    color: #a5a5a5;
    transition: 0.4s;
}

.Social_Links_Box>div>a:hover {
    background-color: #4e4e4e;
}

.Social_Links_Box>div>span {
    color: white;
}

.Office_Background {
    width: 100%;
    height: 450px;
    background-image: url(./Assets/Background_Img/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    overflow: hidden;
}

.Footer_Info {
    width: 250px;
    height: 50px;
    /* background-color: red; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer_Info>div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer_Info:nth-child(2)>div {
    /* background-color: red; */
    background-image: url(./Assets/logo-img/logo_sticky.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.Footer_Info>div>span {
    color: white;
}

.Footer_Info>div>a {
    text-decoration: none;
    color: white;
    transition: 0.4s;
    margin-left: 7px;
}

.Footer_Info>div>a:hover {
    color: #868686;
}

@media only screen and (min-width:1200px) {
    .swiper-slide>span {
        font-size: 160px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
    .swiper-slide>span {
        font-size: 120px;
    }

    .Brands_Box {
        flex-wrap: wrap;
    }

    .Brand_Description>div>p {
        font-size: 20px;
    }

    .Marcetolog_Img>img {
        width: 100%;
        height: 100%;
    }

    .Advertisement_Box {
        padding: 20px 300px;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .swiper-slide>span {
        font-size: 80px;
    }

    .Brands_Box {
        flex-wrap: wrap;
    }

    .Brand_Description>div>p {
        font-size: 18px;
    }

    .Marcetolog_Img>img {
        width: 100%;
        height: 100%;
    }

    .Advertisement_Box {
        padding: 20px 280px;
    }
}

@media only screen and (min-width:552px) and (max-width:768px) {
    .Nav_Bar {
        position: relative;
    }

    #Menu_Btn {
        display: block;
    }

    .Menu_Box>ul {
        background: #303030;
        right: 0;
        top: 100%;
        width: 300px;
        height: 0;
        z-index: 9999999;
        flex-direction: column;
        position: absolute;
    }

    .Slider_Container {
        height: 300px;
    }

    .swiper-slide>span {
        font-size: 60px;
    }

    .Brands_Box {
        flex-wrap: wrap;
    }

    .Brand_Description>div>p {
        font-size: 15px;
    }

    .Marcetolog_Img>img {
        width: 100%;
        height: 100%;
    }

    .Advertisement_Box {
        padding: 20px 150px;
    }

    footer {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media only screen and (min-width:320px) and (max-width:552px) {
    .Nav_Bar {
        position: relative;
    }

    #Menu_Btn {
        display: block;
    }

    .Menu_Box>ul {
        right: 0;
        top: 100%;
        width: 100%;
        height: 0;
        background: #303030;
        z-index: 9999999;
        flex-direction: column;
        position: absolute;
    }

    .Menu_Box>ul>li {
        /* background-color: green; */
        width: 80%;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Menu_Box>ul>li>a {
        background-color: #000000;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 20px;
    }

    .Slider_Container {
        height: 300px;
    }

    .swiper-slide>span {
        font-size: 20px;
    }

    .Brands_Box {
        flex-wrap: wrap;
    }

    .Brand_Description {
        padding: 25px;
    }

    .Brand_Description>div>p {
        font-size: 16px;
    }

    .Marcetolog {
        width: 300px;
    }

    .Marcetolog_Img>img {
        width: 100%;
        height: 100%;
    }

    .Advertisement_Box {
        padding: 20px 25px;
    }

    .Office_Background {
        height: 200px;
    }

    footer {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .Footer_Info {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        height: 40px;
        margin: 5px;
    }

    .Footer_Info>div {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .Footer_Info:nth-child(2)>div {
        background-size: 36%;
        background-position: left;
    }
}


/* 1200px ev avel 4k monitor  */
/* 1200px - 1024px noutbuk */
/* 1024px - 768px planshet */
/* 768px - 552px mini planshet  */
/* 552px - 320px */